# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build directory
GLImac-Template-Projet-Linux-Windows-build/*

#glimac and imaincraft stuff
GLImac-Template-Projet-Linux-Windows/assets/*
GLImac-Template-Projet-Linux-Windows/glimac/*



